<section>
  <div class="text-center" style="margin-top:10%;">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="school" class="img-responsive text-center" src="modules/core/client/img/brand/school-image.jpg" style="margin-left:18%;" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Welcome to Lesson Management system. <br>
        Please sign in or sign-up to start uploading and editing lessons.
      </p>
    </div>
  </div>
  <div>
    
</section>
